body {
    margin: 0;
    padding: 0;
    font-family: Calibri, Arial, sans-serif;
	font-style: italic;
}

header {
    background-color: #f1f1f1;
    padding: 20px;
}

header img {
    max-width: 100%;
    height: auto;
}

nav {
	 background-color: yellow;
}

nav li {
	display: inline-block; /* This causes the list items to be displayed horizontally */
	margin-right: 50px;
}

nav a {
	display: block; /* Coverts links into block elements */
}

nav a:hover {
	background-color: indianred;
}

main {
    padding: 20px;
	color: blue;
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

form#contact {
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(241, 232, 181);
    border-radius: 20px;
    flex: 1 1 300px;
    font-size: 0.85em;
    padding: 10px;
    margin: 10px;
}

div.formRow {
    display: flex;
    flex-flow: row wrap;
    margin: 7px 0px;
}

div.formRow > * {
    flex: 1 1 150px;
}

legend {
    background-color: rgb(179, 20, 25);
    color: white;
    padding: 5px;
}

